doctype html 
head script(src='client.js') 
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i&display=swap' rel='stylesheet') 
  link(rel='stylesheet' href='/scripts/client.css') link(rel='stylesheet')
  href=('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  .navbar a(href='/') Home .dropdown button.dropbtn
      | My stuff
      i.fa.fa-caret-down .dropdown-content a(href='bubbles') Bubbles! a(href='chat') Chat a(href='login' 
  style='float: right;') Log In
h1
  | THE BEST WEBSITE
p
  | Welcome to my website! Use the dropdown menus to go to other pages.
footer a(href='privacy') Privacy Policy
