doctype html
head
form(action='/signup' method='post')
  label Username:
  input(type='text' name='username')
  br
  label Password:
  input(type='password' name='password')
  br
  input(type='submit' value='Sign Up')
script(type='text/javascript').
  $('#form').submit(function(e){
    e.preventDefault();
    $.ajax({
      url:'/signup',
      type:'post',
      data:$('#myForm').serialize(),
      success:function(){
        alert(1);
      }
    });
  });